// Modo de desarrollo
$dev-mode: true;

// Variables de fuente
$primary-font: 'Space Grotesk', sans-serif;

// Variables de color
$color-primary: #4EE1A0;
$color-dark: #151515;
$color-grey: #242424;
$color-white: #FFFFFF;
$color-light-grey: #D9D9D9;
$color-red: #FF6F5B;